.pageContainer {
  width: 100%;
  height: 976px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard", sans-serif;
}

.pageHeader {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.signupLink {
  margin-top: 15px;
  color: black;
  font-weight: 400;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
