.pageBody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: "Pretendard", sans-serif;
}
.postCreationTitle {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
}
.formLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.formInput,
.formFileInput,
.formTextarea {
  width: 570px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}

.formTextarea {
  outline: none; /* 포커스 아웃라인 제거 */
  background-color: transparent; /* 배경색 투명으로 설정 */
  resize: none; /* 크기 조절 기능 비활성화 */
  font-family: "Pretendard";
}
.formInput:focus,
.formFileInput:focus,
.formTextarea:focus {
  border-color: #a3a3a3;
}
.submitButton {
  width: 355px;
  height: 33px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #aca0eb;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.submitButton:hover {
  background-color: #e0e0e0;
}
.formFileInput {
  background-color: #fff;
  border: 1px solid #ccc;
}
.submitLink {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  margin-top: 20px;
}
.helperText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 700;
}
