.editCommentBtn,
.deleteCommentBtn {
  border: 1px solid #aca0eb;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 4px;
  font-family: "Pretendard", sans-serif;
  width: 52px;
}

.commentContainer {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.commentProfilePicture {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 10px;
}

.commentContent {
  width: 100%;
}

.commentTopRow {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.commentAuthorName {
  font-weight: 700;
  margin-left: 10px;
}
.commentDate {
  font-weight: 400;
  margin-left: 10px;
}
.commentTextContainer {
  margin-bottom: 10px;
}

.commentText {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.commentBtnContainer {
  margin-left: 160px;
}

.editCommentBtn,
.deleteCommentBtn {
  margin-left: 5px;
}

.commentBody {
  margin-left: 10px;
}
