.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  border-bottom: 2px solid black;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  padding: 0 20px;
  position: relative;
}
.navigate-before-button,
.profile-hover {
  flex: 0 0 auto;
}
.banner-text {
  flex-grow: 0;
  font-size: 32px;
  text-align: center;
  margin: 0 200px;
  z-index: 1; /* 메뉴가 텍스트 위에 오지 않도록 설정 */
}

.navigate-before-button {
  width: 10.93px;
  height: auto;
}

.profile-hover {
  position: absolute;
  right: 200px;
  top: 0;
  height: 104px;
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 16px; /* 프로필 사진과 메뉴 사이의 간격 */
}

.menu {
  display: none;
  position: absolute;
  top: 60%;
  right: 0;
  background-color: #d9d9d9;
  border: 1px solid #ddd;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000; /* 확실히 메뉴가 다른 요소 위에 나타나도록 설정 */
}

.menu p {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  background: #d9d9d9;
  border-bottom: 1px solid #ddd; /* 메뉴 항목 사이의 구분선 */
}

.menu p:last-child {
  border-bottom: none; /* 마지막 메뉴 항목에서 구분선 제거 */
}

.menu p:hover {
  background-color: #f6f6f6; /* 호버 시 배경색 변경 */
}

.profile-hover:hover .menu {
  display: block; /* 호버 시 메뉴 표시 */
}

.page-header {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.navigate-before-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.navigate-before-button:focus {
  outline: none;
}

.navigate-before-img {
  width: 10.93px;
  height: auto;
}
